<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>electronics_oppo</title>
    <style>
        *{
            color: rgb(125, 113, 5);
            background-color: rgb(150, 222, 215);
        }
    </style>
</head>
<body>
    <center><h1>This is electronics_app oppo_function</h1>
        <h2>This is electronics_oppo content</h2></center>
        <h3>Click here for <a href="{% url 'foods:biryani' %}">foods_biryani</a> webpage</h3>
        <h3>Click here for <a href="{% url 'Elect:samsung' %}">electronics_samsung</a> webpage</h3>
        <h3>Click here for <a href="{% url 'foods:sambar' %}">foods_sambar</a> webpage</h3>
        <h3>Click here for <a href="{% url 'car:rolls_royce' %}">cars_rolls_royce</a> webpage</h3>

        

    
</body>
</html>