<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cars_rolls_royce</title>
    <style>
        h1,h2{
            color: rgb(3, 55, 9);
            background-color: rgb(234, 237, 54);
        }
    </style>
</head>
<body>
    <center><h1>This is cars_app rolls_royce_function</h1>
        <h2>This is cars_rolls_royce content</h2></center>  <br><br>
        <h3>Click here for <a href="{% url 'foods:biryani' %}">foods_biryani</a> webpage</h3>
        <h3>Click here for <a href="{% url 'Elect:oppo' %}">electronics_oppo</a> webpage</h3>
        <h3>Click here for <a href="{% url 'foods:sambar' %}">foods_sambar</a> webpage</h3>
        <h3>Click here for <a href="{% url 'Elect:samsung' %}">electronics_samsung</a> webpage</h3>

    
</body>
</html>