<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>electronics_samsung</title>
    <style>
        h1,h2{
            color: rgb(33, 3, 48);
            background-color: rgb(66, 162, 14);
        }
    </style>
</head>
<body>
    <center><h1>This is electronics_app samsung_function</h1>
        <h2>This is electronics_samsung content</h2></center>  <br><br>
        <h3>Click here for <a href="{% url 'foods:biryani' %}">foods_biryani</a> webpage</h3>
        <h3>Click here for <a href="{% url 'Elect:oppo' %}">electronics_oppo</a> webpage</h3>
        <h3>Click here for <a href="{% url 'foods:sambar' %}">foods_sambar</a> webpage</h3>
        <h3>Click here for <a href="{% url 'car:rolls_royce' %}">cars_rolls_royce</a> webpage</h3>


    
</body>
</html>